In [138]:
import json
import pandas as pd
import numpy as np

## data coming from wikipedia that we loaded

In [139]:
# import the Json file in pandas
file_dir = 'C://Users/zohairk/OneDrive/Desktop/personalrepo/Modules/module8 ETL/'
# open the file 
f'{file_dir}wikipedia-movies.json'

'C://Users/zohairk/OneDrive/Desktop/personalrepo/Modules/module8 ETL/wikipedia-movies.json'

In [140]:
# To load the raw JSON into a list of dictionaries, we will use the load() method.
with open(f'{file_dir}/wikipedia-movies.json', mode='r') as file:
    wiki_movies_raw = json.load(file)

Here, wiki_movies_raw is now a list of dicts. Before we take a look at the data, we should check how many records were pulled in. We can use the len() function (see below), which returns 7,311 records.

## load in the Kaggle data.

In [145]:
kaggle_metadata = pd.read_csv(f'{file_dir}movies_metadata.csv', low_memory=False)
ratings = pd.read_csv(f'{file_dir}ratings.csv')

### Deliverable 4 : finished the Transform step in ETL!

#### Last step of ETL is loading our tables into SQL. [section 8.5.1]

In [267]:
# after creating "movie_data" database in pgAdmin, the following code is done to
# import create_engine from the sqlalchemy module
from sqlalchemy import create_engine

In [268]:
# Create the Database Engine for pandas and sql communication
from config import db_password

In [269]:
# For our local server, the connection string will be as follows:

db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/movie_data"

In [270]:
# Create the database engine
engine = create_engine(db_string)

In [271]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in c:\users\zohairk\anaconda3\envs\pythondata\lib\site-packages (2.9.1)
Note: you may need to restart the kernel to use updated packages.

###### Import the Movie Data
To save the movies_df DataFrame to a SQL table, we only have to specify the name of the table and the engine in the to_sql() method.

In [273]:

movies_df.to_sql(name='movies', con=engine)
# In pgAdmin, confirm that the table imported correctl

In [274]:
# Import the Ratings Data; thi will be done in chunk size as it is very large file. 
# Do not run this yet!
# create a variable for the number of rows imported
rows_imported = 0
for data in pd.read_csv(f'{file_dir}ratings.csv', chunksize=1000000):

    # print out the range of rows that are being imported
    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')

    data.to_sql(name='ratings', con=engine, if_exists='append')

    # increment the number of rows imported by the size of 'data'
    rows_imported += len(data)

    # print that the rows have finished importing
    print('Done.')

importing rows 0 to 1000000...Done.
importing rows 1000000 to 2000000...Done.
importing rows 2000000 to 3000000...Done.
importing rows 3000000 to 4000000...Done.
importing rows 4000000 to 5000000...Done.
importing rows 5000000 to 6000000...Done.
importing rows 6000000 to 7000000...Done.
importing rows 7000000 to 8000000...Done.
importing rows 8000000 to 9000000...Done.
importing rows 9000000 to 10000000...Done.
importing rows 10000000 to 11000000...Done.
importing rows 11000000 to 12000000...Done.
importing rows 12000000 to 13000000...Done.
importing rows 13000000 to 14000000...Done.
importing rows 14000000 to 15000000...Done.
importing rows 15000000 to 16000000...Done.
importing rows 16000000 to 17000000...Done.
importing rows 17000000 to 18000000...Done.
importing rows 18000000 to 19000000...Done.
importing rows 19000000 to 20000000...Done.
importing rows 20000000 to 21000000...Done.
importing rows 21000000 to 22000000...Done.
importing rows 22000000 to 23000000...Done.
importing rows 23000000 to 24000000...Done.
importing rows 24000000 to 25000000...Done.
importing rows 25000000 to 26000000...Done.
importing rows 26000000 to 26024289...Done.